body {
    background-color: black;
}

.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}

.findId-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.findId-container img {
    margin-bottom: 20px;
}

.findId form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findId form input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.findId form button {
    width: 320px;
    padding: 10px;
    margin: 10px 0;
    background-color: #D1003F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.findId form button:hover {
    background-color: #ff3366;
}
