
.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}
.bookmarkMovie img {
    margin-left: 300px;
    margin-top: 10px;
}
.imgMovie img {
    display: flex;
    margin: 0 auto;
}
div.title{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}
.starGroup {
    display: flex;
    justify-content: center; /* 가로 정렬 중앙 배치 */
}
.starGroup .star_image {
    margin-right: 7px;
}
.starGroup .star_text {
    margin-right: 7px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 23px;
}
.movie_text {
    margin-top: 13px;
    margin-right: 7px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}
.category{
    margin-top: 25px;
}
.category .category_box {
    margin-right: 5px;
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
}

.category .category_box .category_text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    text-align: center; /* 텍스트를 가운데 정렬 */
}
