@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter&display=swap');


body {
    background-color: black;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}

.div1 {
    margin: 0;
    /*max-width: 360px;*/
    max-height: 800vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.div1 Category a {
    font-size: 40px;
    text-decoration: none;
    color: #D1003F;
}

.wishMovies {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.Arrow {
    width: 20px;
    transform: scaleX(-1);
}

.movie .Poster-img {
    width: 131px;
    height: 20vh;
}

.movies {
    display: flex; /* 영화들을 수평으로 정렬 */
    flex-wrap: wrap;
}

.movie {
    margin-right: 20px; /* 각 영화 사이의 간격을 조절 */
}
