body{
    background-color: black;
}
.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}
.back_img{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
}
.bookmarkMovie img {
    margin-left: 310px;
}
.imgMovie img {
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
}
div.title{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}
.starGroup {
    display: flex;
    justify-content: center; /* 가로 정렬 중앙 배치 */
}
.starGroup .star_image {
    margin-right: 7px;
}
.starGroup .star_text {
    margin-right: 7px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 23px;
}
.movie_text {
    margin-top: 15px;
    margin-left: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}
.category{
    margin-top: 30px;
    margin-left: 5px;
}
.category .category_box {
    margin-right: 5px;
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

.category .category_box .category_text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    text-align: center; /* 텍스트를 가운데 정렬 */
}
.reservation_btn{
    margin-top: 25px;
    margin-bottom: 45px;
    width: 360px; /* 버튼의 너비 설정 */
    height: 49px;
    background-color: #D1003F; /* 배경색 설정 */
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}
.review_text{
    margin-left: 5px;
    margin-top: 22px;
    background-color: black;
    width: 280px;
    height: auto;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    word-wrap: break-word;
    outline: none;
}
.review_btn{
    margin-top: 22px;
    margin-left: 8px;
    width: 60px;
    height: 37px;
    background-color: #D1003F;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
}
.expect {
    margin-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.expect .star_ex {
    margin-left: 10px;
    height: 25px;
}

.expect_box {
    margin-left: 3px;
    width: 330px;
    display:  inline-block; /* inline-flex로 설정하여 가로로 배열될 수 있도록 함 */
    align-items: center;
    padding: 5px 10px;
    border-top: 1px solid transparent; /* 위쪽 선만 투명하게 */
    border-bottom: 1px solid #FFFFFF; /* 아래쪽 선은 흰색 */
    border-left: 1px solid #FFFFFF; /* 왼쪽 선은 흰색 */
    border-right: 1px solid #FFFFFF; /* 오른쪽 선은 흰색 */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.expect_text_mid{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    display: inline-block; /* 텍스트 요소들이 가로로 배열되도록 함 */
    margin-top: 5px; /* 위 아래 간격 조정 */
    margin-bottom: 11px;
}
.expect_text{
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block; /* 텍스트 요소들이 가로로 배열되도록 함 */
    margin-bottom: 10px;
    margin-top: 10px;
}
.critic_title{
    margin-left: 5px;
    margin-top: 40px;
    color: #D1003F;
    font-weight: bold;
    font-size: 24px;
}
.critic{
    margin-top: 20px;
}
.critic .critic_name{
    display: flex;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.star_critic {
    margin-left: 15px;
}

.bookmark_critic{
    margin-left: 110px;
}
.critic_review_mid{
    margin-top: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
.critic_review{
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.horizontal-line {
    margin-top: 20px;
    margin-bottom: 25px;
    border-top: 1px solid  #FFFFFF; /* 가로선의 스타일 및 색상 설정 */
    width: 100%; /* 가로선의 너비 설정 */
}

.btn_good {
    width: 178px;
    height: 37px;
    background-color: #D1003F;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 15px;
    margin-left: 2px;

}

.btn_good_not {
    width: 177px;
    height: 37px;
    border-top: 1px solid #FFFFFF; /* 위쪽 선만 투명하게 */
    border-bottom: 1px solid transparent; /* 아래쪽 선은 흰색 */
    border-left: 1px solid #FFFFFF; /* 왼쪽 선은 흰색 */
    border-right: 1px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 15px;
    margin-left: 3px;
    background-color: transparent;
}
.btn_bad {
    width: 178px;
    height: 37px;
    background-color: #D1003F;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-top-right-radius: 15px;

}
.btn_bad_not {
    width: 177px;
    height: 37px;
    border-top: 1px solid #FFFFFF; /* 위쪽 선만 투명하게 */
    border-bottom: 1px solid transparent; /* 아래쪽 선은 흰색 */
    border-left: 1px solid transparent; /* 왼쪽 선은 흰색 */
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 15px;
    margin-left: 3px;
    background-color: transparent;
}