.div1 Header a {
    text-decoration: none;
    color: #D1003F;
}

@media (max-width: 768px) {
    /* 홈 페이지의 제목 스타일 변경 */
    .div1 {
        /*max-width: 360px;*/
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        text-align: center;
        color: white;
    }
}
@media (min-width: 769px) {
    /* 홈 페이지의 제목 스타일 변경 */
    .div1 {
        max-width: 360px;
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: pink;
        text-align: center;
    }
}