body {
    background-color: black;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.rd-mobile {
    width: 360px;
    margin: 0 auto;
    background-color: black;
}

.rd-back_img {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.rd-bookmarkMovie img {
    margin-left: 310px;
}

.rd-critic_title {
    margin-left: 5px;
    margin-top: 40px;
    color: #D1003F;
    font-weight: bold;
    font-size: 24px;
}

.rd-critic {
    margin-top: 20px;
}

.rd-critic .rd-critic_name {
    display: flex;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.rd-star_critic {
    margin-left: 10px;
}

.rd-bookmark_critic {
    margin-left: 110px;
}

.rd-critic_review_mid {
    margin-top: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.rd-critic_review {
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.rd-horizontal-line {
    margin-top: 20px;
    margin-bottom: 25px;
    border-top: 1px solid #FFFFFF;
    width: 100%;
}
