@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter&display=swap');

body {
    background-color: black;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}

.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}

.movie-list {
    padding: 20px;
    background-color: black;
    color: white;
    position: relative; /* 백 버튼을 절대 위치로 배치하기 위한 설정 */
}

.back-button {
    position: absolute; /* 좌측 상단에 위치시키기 위해 절대 위치 사용 */
    top: 7px; /* 위쪽에서의 거리 */
    left: 15px; /* 왼쪽에서의 거리 */
    width: 30px; /* 버튼 너비 */
    height: 30px; /* 버튼 높이 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
    transform: scaleX(-1); /* 이미지 뒤집기 */
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-buttons {
    display: flex;
}

.before-button, .next-button {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.new-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.movie {
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.Poster-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie p {
    margin: 10px 0;
}

.star {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
