@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter&display=swap');

body {
    background-color: black;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}

.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}

.div1 {
    margin: 0;
    max-height: 800vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie .star {
    margin-left: 40px;
    width: 20px;
    height: 20px;
}

.div1 Category a {
    font-size: 40px;
    text-decoration: none;
    color: #D1003F;
}

.wishMovies, .wishReviews, .myReviews {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.review {
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
}

.review img {
    display: inline-block;
    width: 130px;
    margin-left: 0;
}

.before-button {
    width: 20px;
    transform: scaleX(-1);
}

.next-button {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.movie .Poster-img {
    width: 131px;
    height: 20vh;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    margin-right: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.category-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 괄호 사이 간격 조정 */
    margin: 0px;
}
