.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}
.header{
    margin-bottom: -25px;
    display: flex;
}
.title_style{
    font-weight: bold;
    font-size: 35px;
    color: #D1003F;
    margin-left: 7px;
    cursor: pointer;
}
.all{
    display: flex;
}

.horizontal-line {
    margin-top: 40px;
    margin-bottom: 25px;
    border-top: 1px solid  #FFFFFF; /* 가로선의 스타일 및 색상 설정 */
    width: 100%; /* 가로선의 너비 설정 */
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 450px; /* 초기에는 오른쪽으로 숨겨진 상태 */
    z-index: 99;
    background-color: #202020;
    border-left: 4px solid #202020;
    width: 250px;
    color: #FFFFFF;
    height: 100%;
    border-radius: 0 20px 20px 0;
    transition: right 0.4s ease; /* right 속성에 대한 변화에 대해 0.4초 동안의 애니메이션 효과 부여 */
}
.close{
    color: #FFFFFF;
    margin-top: 3px;
    margin-left: 260px;
    cursor: pointer;
}
.sidebar-text{
    color: #FFFFFF;
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.img-header{
    cursor: pointer;
}