.mobile {
    width: 360px; /* 너비 설정 */
    margin: 0 auto; /* 가로 중앙 배치 */
    background-color: black;
}
.header{
    margin-bottom: -25px;
    display: flex;
}
.title_style{
    font-weight: bold;
    font-size: 20px;
    color: #D1003F;
}