.container2 {
    background-color: #E3ECF1;
}
.sidebar2 {
    background-color: #202020;
    border-right: 4px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
}
.button2 {
    position: relative;
    left: 300px;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 99;
    transition: 0.8s ease;
    border: 4px #202020;
    border-radius: 40px;
    overflow: hidden;
    background: black;
}
.openBtn2 {
    width: 100%;
    height: 100%;
}
.content2{
    padding: 40px 40px 0 20px;
    position: relative;
    width: 100%;
}
.icon2 {
    margin: 0;
    color: #202020;
}
.close2{
    font-size: 30px;
    color: #FFFFFF;
}